body{
    background: linear-gradient(to bottom left, #3333ff 4%, #3399ff 99%);
    width: 100%;
    height: 100%;
}
.conteiner{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 45%;
    height: 55%;
    margin-top: 10%;
    margin-left: 28%;
}
.invio{
    width: 90%;
    height: 10%;
    margin-left: 5%;
    border-radius: 10px;
    background: linear-gradient(to right, #3333ff 4%, #00ffff 99%);
    transition: all 300ms ease-out;
}
.invio:hover{
    box-shadow: 5px 5px hwb(0 85% 15%);
    transition: all 200ms ease-in;
}
label{
    color: rgb(20, 88, 165);
    margin-left: 5%;
    font-size: large;
}
.input{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    color: blue;
    margin-left: 5%;
    transition: all 500ms ease-out;
}
.input:hover{
    transition: all 100ms ease-in;
    border-radius: 10px;

}
.title{
    margin-left: 10%;
}
#macchina{
    margin-left: 50%;
    margin-top: -27.7%;
    float: left;
}




