.loader{
    border: 20px solid #ffffff; 
    border-radius: 50%;
    border-top: 20px solid #e41f1f;
    width: 200px;
    height: 200px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
 }